#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}
form {
  margin-bottom: 32px;
}
input, select {
  padding: 8px;
  margin-right: 16px;
  font-size: 16px;
}
button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 16px;
}